<style>
  .isiTable {
    text-align: center;
  }

  .headerKolom {
    color: white;
    text-align: center;
  }
</style>

<p>Dear Sir/madam,</p>
<p><%= subTitle %></p>
<p><strong><%=body[0].requestId%></strong></p>
<table style="border-collapse: collapse; width: 100%;" border="1">
  <tbody>
    <tr>
      <td class="s2" dir="ltr" style="background: red; width: 6%;">
        <p class="headerKolom">MID</p>
      </td>
      <td class="s2" dir="ltr" style="background: red; width: 30%;">
        <p class="headerKolom">Deskripsi</p>
      </td>
      <td class="s2" dir="ltr" style="background: red;">
        <p class="headerKolom">Qty</p>
      </td>
      <td class="s2" dir="ltr" style="background: red; width: 4%;">
        <p class="headerKolom">UOM</p>
      </td>
      <td class="s2" dir="ltr" style="background: red;">
        <p class="headerKolom">NTI Reason</p>
      </td>
      <td class="s2" style="background: red;">
        <p class="headerKolom">Reason Scrap</p>
      </td>
      <td class="s2" dir="ltr" style="background: red;">
        <p class="headerKolom">Category</p>
      </td>
      <td class="s2" dir="ltr" style="background: red;">
        <p class="headerKolom">Cost Center</p>
      </td>
      <td class="s2" dir="ltr" style="background: red;">
        <p class="headerKolom">Brand</p>
      </td>
    </tr>
    <% for(var i=0; i<body.length; i++) {%>
    <tr>
      <td class="isiTable" dir="ltr"><%= body[i].mid %></td>
      <td class="isiTable" dir="ltr"><%= body[i].description %></td>
      <td class="isiTable" dir="ltr"><%= body[i].qty %></td>
      <td class="isiTable" dir="ltr"><%= body[i].uom %></td>
      <td class="isiTable" dir="ltr"><%= body[i].ntiReason %></td>
      <td class="isiTable" dir="ltr"><%= body[i].scrapReason %></td>
      <td class="isiTable" dir="ltr"><%= body[i].category %></td>
      <td class="isiTable" dir="ltr"><%= body[i].costCenter %></td>
      <td class="isiTable" dir="ltr"><%= body[i].brand %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<p>Please click 
  <span style="text-decoration: underline;">
    <a href="<%- clickHere %>">click Here</a>
  </span> to
  proceed
</p>
<p>Regards,</p>
<p>&nbsp;</p>
<p><span
    style="color: #800080;">*********************************************</span></p>
<p><span style="color: #800080;">** This is an automated email message.
    **</span></p>
<p><span style="color: #800080;">** it was generated automatically by system,
    and sent to you by system. **</span></p>
<p><span style="color: #800080;">** **</span></p>
<p><span style="color: #800080;">** Please DO NOT reply this email !
    **</span></p>